
<div id="log" class = "container" style="margin-bottom: 50px">

  <div class="col text-center">
    <h1 class="text-muted" > Login </h1>
  </div>
  <div class="col-6 mx-auto">

    <div class="wrapper shadow">

      <form class="form-signin">
        <hr class="colorgraph"><br>

        <input formControl="username" type="text" class="form-control" name="Username" placeholder="Username" required=""/>
        <br> <br>
        <input formControl="password" type="password" class="form-control" name="Password" placeholder="Password" required=""/>
        <br>

        <button class="btn btn-lg btn-outline-dark btn-block"  name="Submit" value="Login" type="Submit">Login</button>
      </form>
    </div>
  </div>
</div>
