<div class="container my-4">

  <section id="register-form">

    <div class="row">

      <div class="col-6 mb-4 mx-auto">

        <!--Title-->
        <h1 class="secondary-heading text-center text-muted">
          Register
        </h1>

        <section class="pr-1">

          <div class="card shadow">
            <div class="card-body px-lg-5 pt-0">

              <!-- Form -->
              <form class="text-center" style="color: #757575;">

                <div class="form-row" style="margin-top: 30px">
                  <div class="col">
                    <div class="md-form">
                      <input type="text" id="materialRegisterFormFirstName" class="form-control" placeholder="Name">
                      <label for="materialRegisterFormFirstName"></label>
                    </div>
                  </div>
                </div>

                <div class="md-form mt-0">
                  <input type="email" id="materialRegisterFormEmail" class="form-control" placeholder="E-mail">
                  <label for="materialRegisterFormEmail" class="active"></label>
                </div>

                <!-- Password -->
                <div class="md-form">
                  <input placeholder="Password" type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                  <label for="materialRegisterFormPassword" class="active"></label>
                  <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                    At least 8 characters and 1 digit
                  </small>
                </div>

                <!-- Newsletter -->
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
                  <label class="form-check-label" for="materialRegisterFormNewsletter">Subscribe to our newsletter</label>
                </div>

                <button class="btn btn-lg btn-outline-danger btn-block" name="Submit" value="Login" type="Submit">Register</button>

                <!-- Terms of service -->
                <p>By clicking
                  <em>Sign up</em> you agree to our
                  <a href="" target="_blank">terms of service</a>

                </p></form>
              <!-- Form -->

            </div>

          </div>
          <!-- Material form register -->

        </section>
        <!--Section: Live preview-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>

</div>
